<launch>

	<rosparam command="load" file="$(find dsdm_master)/config/BoeingArm.yaml"/>

        <node pkg="joy" type="joy_node" name="joy" output="screen">
        </node>

        <node pkg="dsdm_navigation" type="joy_stick_ddq_nav.py" name="nav" output="screen">
        </node>

	<node pkg="dsdm_control" type="ctc_manual_setpoint.py" name="ctl" output="screen">
        </node>	

	<group ns="a0">
		<include file="$(find dsdm_actuator)/launch/actuator.launch"/>
	</group>

	<node pkg="dsdm_sensing" type="observer.py" name="obs" output="screen">
        </node>
	
 </launch>
